/* app global css */
@font-face {
  font-family: 'vinqueregular';
  src: url('./src/assets/fonts/ofont.ru_Vinque Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
:root {
  --card-height: 200px;
}

@media (max-width: 500px) {
  :root {
    --card-height: 150px;
  }
}
